* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige: #FBF6EB;
    --blue: #37cdef;
    --purple: #ac3ee1;
    --middle: #7680E8;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

