$beige: #FBF6EB;
$beige-alpha: #FBF6EB88;
$blue: #37cdef;
$purple: #ac3ee1;
$middle: #7680E8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

