@import "public/index.scss";

.work {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        color: $beige;
        text-align: center;
        text-shadow: -4px 4px 0 $purple;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 0;
}